<ion-header no-border>
	<ion-toolbar color="primary-dark">
		<ion-buttons left>
			<button ion-button icon-only (click)="closeModal($event)">
				<ion-icon name="ios-close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			{{category.displayName}} chat
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let message of messages$ | async; let last = last">
			<div class="dq-flex-container column">
				<div class="dq-flex-container center-row-vertical">
					<h4>{{message?.userName === user.userName ? 'Me' : message?.userName}}</h4>
					<span class="date">{{message?.createdOn | date:'yMMMdjms'}}</span>
				</div>
				<span>{{message?.message}}</span>
			</div>
			{{last ? scrollToBottom() : null}}
		</ion-item>
		<ion-item *ngIf="(typing$ | async)?.isTyping && (typing$ | async)?.userName !== user.userName">
			<span class="dq-flex-container user-typing-indicator">
				{{(typing$ | async)?.userName}} is typing
				<ion-spinner name="dots"></ion-spinner>
			</span>
		</ion-item>
	</ion-list>
	<div class="dq-input-wrapper">
		<div class="message-wrapper dq-flex-container center-row-vertical">
			<ion-input
				placeholder="Clear Input"
				clearInput
				[(ngModel)]="message"
				(keyup)="handleKeyDown($event)">
			</ion-input>
			<button [disabled]="message.length < 1" ion-button icon-only (click)="sendMessage()">
				<ion-icon name="md-send"></ion-icon>
			</button>
		</div>
	</div>
</ion-content>