<ion-header no-border>
	<ion-navbar transparent>
		<ion-title>
			friend
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<profile-head-cmp
		[userName]="(user$ | async)?.userName"
		[createdOn]="(user$ | async)?.createdOn"
		[title]="(user$ | async)?.title"
		[description]="(user$ | async)?.description"
		[games]="(user$ | async)?.games"
		[followers]="(user$ | async)?.followers"
		[following]="(user$ | async)?.following"
		[isFriendProfile]="true"
		(editProfile)="onEditProfileBtnClick()">
	</profile-head-cmp>
</ion-content>