progress-bar-cmp {
  .progress-outer {
    width: 100%;
    margin: 5px 0;
    padding: 2px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
    color: #fff;
    border-radius: 5px;
  }

  .progress-inner {
    //min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    //padding: 5px;
    border-radius: 5px;
    background-color: map-get($colors, primary);
  }
}
