<ion-header no-border>
	<ion-navbar transparent>
		<button ion-button icon-only menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title *ngIf="!showSearchBar">
			profile
		</ion-title>
		<profile-search-cmp
			*ngIf="showSearchBar"
			[query]="query$ | async"
			(emitOnInput)="onInput($event)"
			(emitOnFocus)="onFocus($event)">
		</profile-search-cmp>
		<ion-buttons end>
			<button ion-button (click)="toggleSearchBar()">
				<ion-icon *ngIf="!showSearchBar" name="md-search"></ion-icon>
				<span class="close-btn" *ngIf="showSearchBar">Cancel</span>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div
		class="overlay"
		*ngIf="showOverlay">
	</div>

	<profile-head-cmp
		[userName]="(user$ | async)?.userName"
		[createdOn]="(user$ | async)?.createdOn"
		[title]="(user$ | async)?.title"
		[description]="(user$ | async)?.description"
		[games]="(user$ | async)?.games"
		[followers]="(user$ | async)?.followers"
		[following]="(user$ | async)?.following"
		(editProfile)="onEditProfileBtnClick()"
		(onGamesClick)="onGamesClick()"
		(onFollowersClick)="onFollowersClick()"
		(onFollowingClick)="onFollowingClick()">
	</profile-head-cmp>

	<profile-list-cmp
		[user]="user$ | async"
		[users]="users$ | async"
		(emitFollowUser)="followUser($event)"
		(emitShowFriendProfile)="showFriendProfile($event)">
	</profile-list-cmp>

</ion-content>