profile-page {
  ion-content {
    background: linear-gradient(180deg, rgba(59,50,71, 0.85) 40%, rgba(59,50,71, 0.85)),
    url('../assets/img/auth_background.png') no-repeat 10% center / cover;
  }

  ion-navbar {
    .bar-buttons,
    .toolbar-title,
    ion-icon,
    .close-btn {
      color: #d8d8d8;
    }

    .ion-md-search {
      @include font-size(20);
    }

    .close-btn {
      @include font-size(10);
    }

    .searchbar-search-icon {
      top: 8px !important;
    }

    .searchbar-input {
      padding-top: 2px !important;
      padding-bottom: 2px !important;
    }
  }
}