<ion-card class="profile-header">

	<div class="profile-img-container">
		<img src="assets/img/profile_placeholder.jpg" alt="profile image placeholder">
	</div>

	<div class="dq-flex-container center profile-date-container">
		<ion-icon name="ios-calendar-outline"></ion-icon>
		<span>&nbsp;&nbsp;{{ user.createdOn | date:'shortDate' }}</span>
	</div>

	<div
		*ngIf="!isFriendProfile"
		class="dq-flex-container center edit-icon-container"
		tappable
		(click)="onProfileEditBtnClick()">
		<ion-icon name="md-create"></ion-icon>
	</div>

	<div class="dq-flex-container flex-column center profile-header-content">
		<h1>{{ user.userName }}</h1>
		<p *ngIf="user.title" class="profile-title">
			{{'"' + user.title + '"'}}
		</p>
		<p *ngIf="!user.title" class="profile-title">
			{{'"' + 'Add your title here!' + '"' }}
		</p>
		<span *ngIf="user.description" class="profile-description">
			{{user.description}}
		</span>
		<span *ngIf="!user.description" class="profile-description">
			Your chance at 140 character description of the wonder that is you. Boom.
		</span>
	</div>

	<div class="dq-flex-container profile-stats-wrapper">
		<div
			tappable
			class="dq-flex-container flex-column center profile-stats-container"
			(click)="handleGamesClick()">
			<span>games</span>
			<h2>{{ user.games?.length }}</h2>
		</div>

		<div
			tappable
			class="dq-flex-container flex-column center profile-stats-container"
			(click)="handleFollowersClick()">
			<span>followers</span>
			<h2>{{ user.followers?.length }}</h2>
		</div>

		<div
			tappable
			class="dq-flex-container flex-column center profile-stats-container"
			(click)="handleFollowingClick()">
			<span>following</span>
			<h2>{{ user.following?.length }}</h2>
		</div>
	</div>

</ion-card>