<ion-header [@animate]="!(game$ | async) ? 'slideInDown' : 'rotateOutUpLeft'" no-border>
	<ion-toolbar color="primary-dark">
		<ion-buttons left>
			<button ion-button icon-only (click)="closeModal($event)">
				<ion-icon name="ios-close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			<div class="dq-flex-container center-row-vertical">
				<i
					[ngClass]="category?.icon"
					[style.color]="category?.color"
					style="font-size: 28px;margin-right: 12px;position:relative;top:2px;">
				</i>
				<span style="text-transform: uppercase;font-size: 14px;">
					{{category?.displayName}}
				</span>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [ngClass]="(game$ | async) ? 'game-in-progress' : ''">
	<game-message-cmp
		[game]="game$ | async"
		[gameType]="gameType"
		[messages]="messages"
		[isMessageVisible]="!questions">
	</game-message-cmp>

	<game-check-answer-cmp
		[isCorrect]="isAnswerCorrect"
		[showMessage]="showNotification">
	</game-check-answer-cmp>

	<div
		class="dq-flex-container column center"
		*ngIf="!(questions) && isCountdownVisible && questionTimer">
		<game-start-countdown-cmp></game-start-countdown-cmp>
	</div>

	<div style="width:100%;" *ngIf="!!(questions)">
		<progress-bar-cmp
			[progress]="questionTimer"
			[startingNumber]="!questions ? 5 : 10">
		</progress-bar-cmp>
		<div class="dq-flex-container center-text-vertical" style="padding-right:10px;line-height:13px;">
			<span style="font-size:12px;color:#2a2a2a;margin-left:auto;">{{user.userName}}&nbsp;&nbsp;</span>
			<span style="font-size:13px;color:cornflowerblue;width:24px;text-align:right;">{{totalScore}}</span>
		</div>
	</div>

	<game-question-cmp
		[triviaQuestion]="questions && questions[questionIndex]"
		(emitPlayerAnswerSelection)="handlePlayerAnswerSelection($event)">
	</game-question-cmp>

	<game-type-select-cmp
		[game]="game$ | async"
		(emitOnePlayerGameSelect)="createOnePlayerGame()"
		(emitTwoPlayerGameSelect)="createTwoPlayerGame()">
	</game-type-select-cmp>
</ion-content>